<div class="h-screen flex flex-col">
    <div class="flex flex-1">
        <aside class="w-64 bg-zinc-950 p-6">
            <nav class="space-y-5">
                <a class="flex items-center gap-3 text-xs font-semibold" href=""><img
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1ob21lIj48cGF0aCBkPSJtMyA5IDktNyA5IDd2MTFhMiAyIDAgMCAxLTIgMkg1YTIgMiAwIDAgMS0yLTJ6Ii8+PHBvbHlsaW5lIHBvaW50cz0iOSAyMiA5IDEyIDE1IDEyIDE1IDIyIi8+PC9zdmc+"
                        alt="">Home</a>
                <a class="flex items-center gap-3 text-xs font-semibold" href=""><img
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1zZWFyY2giPjxjaXJjbGUgY3g9IjExIiBjeT0iMTEiIHI9IjgiLz48cGF0aCBkPSJtMjEgMjEtNC4zLTQuMyIvPjwvc3ZnPg=="
                        alt="">Search</a>
                <a class="flex items-center gap-3 text-xs font-semibold" href=""><img
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1saWJyYXJ5Ij48cGF0aCBkPSJtMTYgNiA0IDE0Ii8+PHBhdGggZD0iTTEyIDZ2MTQiLz48cGF0aCBkPSJNOCA4djEyIi8+PHBhdGggZD0iTTQgNHYxNiIvPjwvc3ZnPg=="
                        alt="">Your Library</a>
            </nav>
            <nav class="mt-10 pt-10 border-t border-zinc-800 flex flex-col gap-2">
                <a class="text-sm text-zinc-400 hover:text-zinc-100" href="">Playlist1</a>
                <a class="text-sm text-zinc-400 hover:text-zinc-100" href="">Playlist2</a>
                <a class="text-sm text-zinc-400 hover:text-zinc-100" href="">Playlist3</a>
                <a class="text-sm text-zinc-400 hover:text-zinc-100" href="">Playlist4</a>
                <a class="text-sm text-zinc-400 hover:text-zinc-100" href="">Playlist5</a>
            </nav>
        </aside>
        <main class="flex-1 p-6">
            <div class="flex items-center gap-3">
                <button><img class="w-6 h-6 rounded-full bg-black/50"
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLWxlZnQiPjxwb2x5bGluZSBwb2ludHM9IjE1IDE4IDkgMTIgMTUgNiIvPjwvc3ZnPg=="
                        alt=""></button>
                <button><img class="w-6 h-6 rounded-full bg-black/50"
                        src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1jaGV2cm9uLXJpZ2h0Ij48cG9seWxpbmUgcG9pbnRzPSI5IDE4IDE1IDEyIDkgNiIvPjwvc3ZnPg=="
                        alt=""></button>
            </div>
            <h1 class="font-bold text-4xl mt-5">Good Afternoon</h1>
            <div class="grid grid-cols-3 gap-6 mt-8">
                <div class="bg-white/10 justify-between flex items-center rounded "><img class="w-20 h-20"
                        src="https://rollingstone.uol.com.br/media/uploads/metallica-master-of-puppets.jpg"
                        alt=""><button class=" w-10 h-10 opacity-0 hover:opacity-100 " >
                        <img class=" bg-green-700 rounded-full " src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1wbGF5Ij48cG9seWdvbiBwb2ludHM9IjUgMyAxOSAxMiA1IDIxIDUgMyIvPjwvc3ZnPg=="
                            alt="">
                    </button>
                    <p class="p-3">Master of Puppets</p>
                </div>
                <div class="bg-white/10 justify-between flex items-center rounded"><img class="w-20 h-20"
                        src="https://setor1.band.uol.com.br/wp-content/uploads/2020/12/cartola-v.jpg" alt="">
                    <p class="p-3"> Cartola</p>
                </div>
                <div class="bg-white/10 justify-between flex items-center rounded"><img class="w-20 h-20"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQtNlwFvG2AxQjC7wmWmN_ZyqYj2QJVPCNdFJG_o_Zsg&s"
                        alt="">
                    <p class="p-3">Quenn</p>
                </div>
                <div class="bg-white/10 justify-between flex items-center rounded"><img class="w-20 h-20"
                        src="https://www.vagalume.com.br/eminem/discografia/the-eminem-show.jpg" alt="">
                    <p class="p-3">Eminem</p>
                </div>
                <div class="bg-white/10 justify-between flex items-center rounded"><img class="w-20 h-20"
                        src="https://pbs.twimg.com/media/EbooCBXXgAAFrl0.jpg" alt="">
                    <p class="p-3">Taylor Swift</p>
                </div>
            </div>
        </main>
    </div>
    <footer class="bg-zinc-800 border-t border-zinc700 p-6">

    </footer>
</div>